<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" href="/css/index.css">
   </head>
   <body>
      <h1>All Cars</h1>
      <div class="container">
         <% for (let i = 0; i < cars.length; i++) { %>
            <div class="car-container">
               <a href="<%=cars[i].id%>">
                  <img src="<%=cars[i].img%>" alt="<%=`${cars[i].year} ${cars[i].make} ${cars[i].model}` %>">
               </a>
               <p><%=`${cars[i].year} ${cars[i].make} ${cars[i].model}` %></p>
            </div>
         <% } %>
      </div>
      <a href="/new"><button type="button" name="button">Add New Car</button></a>
   </body>
</html>
