<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <h1>Add A New Car</h1>
      <div class="">
         <form class="" action="/" method="POST">
            <label for="year">Year</label>
            <input type="Number" name="year" value=""><br>

            <label for="make">Make</label>
            <input type="text" name="make" value=""><br>

            <label for="model">Model</label>
            <input type="text" name="model" value=""><br>

            <label for="img">Image</label>
            <input type="text" name="img" value=""><br>

            <label for="description">Description</label>
            <input type="text" name="description" value=""><br>

            <input type="submit" name="" value="Add Car">
         </form>
      </div>
      <a href="/"><button type="button" name="button">Return To Car Index</button></a>
   </body>
</html>
