body {
   text-align: center;
   font-family: 'Racing Sans One', cursive;
   color: ghostwhite;
   background: black;
}
h1 {
   font-family: 'Racing Sans One', cursive;
   font-size: 750%;
   margin: 25px auto 0 auto;
   color: whitesmoke;
   text-shadow: 2px 2px green;
}
.container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   background: black;
   padding: 10px;

}
.car-container {
   width: 375px;
   overflow: hidden;
   background: rgba(248, 248, 255, 0.85);
   margin: 10px;
   padding: 15px 10px 10px 10px;
}
.image {
   width: 90%;
   /* object-fit: scale-down; */
}
p {
   font-size: 150%;
   color: black;
}
footer {
   position: fixed;
   text-align: center;
   /* left: 0px; */
   bottom: 0px;
   background: black;
   width: 100%;
   padding: 10px;
}
.footer {
   /* width: 100%; */
   text-align: center;
}
.add {
   /* width: 150px; */
   font-family: monospace;
   font-size: 250%;
   color: ghostwhite;
   background: green;
   cursor: pointer;
   outline: none;
}
.add:hover {
   font-size: 260%;
}
