body {
   text-align: center;
   font-family: 'Racing Sans One', cursive;
   color: ghostwhite;
   background: black;
   /* background: #4A5B61; */
}
h1 {
   font-size: 450%;
}
.container {
   max-width: 70%;
   margin: 0 auto 75px auto;
}
.image {
   width: 100%;
}
p {
   font-size: 200%;
}
.buttons-container {
   display: flex;
   justify-content: space-around;
   width: 100%;
}
.btn {
   width: 200px;
   font-family: monospace;
   font-size: 200%;
   /* color: ghostwhite; */
   color: green;
   border-color: inherit;
   background: black;
   cursor: pointer;
   outline: none;
}
.delete {
   /* background: firebrick; */
   color: firebrick;
   border-color: inherit;
}
footer {
   position: fixed;
   text-align: center;
   /* left: 0px; */
   bottom: 0px;
   background: black;
   /* background: #4A5B61; */
   width: 100%;
   padding: 10px;
}
.return {
   font-family: monospace;
   font-size: 250%;
   /* color: ghostwhite; */
   color: green;
   background: black;
   border-color: inherit;
   cursor: pointer;
   outline: none;
}
