header {
   display: flex;
   justify-content: space-between;
   text-align: right;
   position: fixed;
   top: 0px;
   right: 0px;
   width: 100%;
   background: black;
   padding: 10px;
   z-index: 1;
}
.logout, .add {
   font-family: monospace;
   font-size: 150%;
   color: green;
   background: black;
   border-color: inherit;
   cursor: pointer;
   outline: none;
}
.add {
   margin-left: 15px;
}
.add:hover {
   font-size: 260%;
}

.logout:hover {
   font-size: 160%;
}
body {
   text-align: center;
   font-family: 'Racing Sans One', cursive;
   color: ghostwhite;
   background: black;
}
h1 {
   font-family: 'Racing Sans One', cursive;
   font-size: 750%;
   margin: 25px auto 0 auto;
   color: whitesmoke;
   text-shadow: 2px 2px green;
}
.container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   background: black;
   padding: 10px;

}
.car-container {
   width: 375px;
   /* overflow: hidden; */
   background: rgba(248, 248, 255, 0.85);
   margin: 10px;
   padding: 10px;

}
.image {
   width: 100%;
   height: auto;

}
p {
   font-size: 150%;
   color: black;
}
