body {
   text-align: center;
   font-family: 'Racing Sans One', cursive;
   color: ghostwhite;
   background: black;
}
h1 {
   font-size: 500%;
   margin: 25px auto 10px auto;
}
.display-container {
   display: flex;
   /* justify-content: center; */
   width: 70%;
   margin: 0 auto 70px auto;
   background-image: url('https://images.pexels.com/photos/923022/pexels-photo-923022.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   /* opacity: 0.5; */
   padding: 10px;
}
.input-container {
   width: 50%;
   height: 600px;
   background: rgba(255, 255, 255, 0.25);
   text-align: left;
   padding: 10px 10px 0 10px;;
}
label {
   margin-top: 50px;
   text-align: right;
   color: ghostwhite;
   background: rgba(67, 80, 54, 0.80);
   padding: 3px;
   font-size: 125%;
}
input {
   width: 98%;
   outline: none;
   margin-bottom: 50px;
   color: ghostwhite;
   background: rgba(255, 255, 255, 0.75);
}
input:focus {
   color: black;
   background: rgba(255, 255, 255, 0.75);
}
textarea {
   resize: none;
   width: 98%;
   height: 100px;
   outline: none;
   background: rgba(255, 255, 255, 0.50);
}
textarea:focus {
   background: rgba(255, 255, 255, 0.75);
}
.btn {
   /* width: 150px; */
   font-family: monospace;
   font-size: 150%;
   color: ghostwhite;
   background: #435036;
   cursor: pointer;
   outline: none;
   margin-top: 40px;
}
.btn:hover {
   font-size: 210%;
}
footer {
   position: fixed;
   text-align: center;
   /* left: 0px; */
   bottom: 0px;
   background: black;
   width: 100%;
   padding: 10px;
}
.return {
   font-family: monospace;
   font-size: 200%;
   color: green;
   background: black;
   border-color: inherit;
   cursor: pointer;
   outline: none;
   /* margin-top: 25px; */
}
.return:hover {
   font-size: 260%;
}
