<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <% include ../partials/head.ejs %>
      <link rel="stylesheet" href="/css/users/new.css">
   </head>
   <head>
      <a href="/"><button class="back" type="button" name="button">Home</button></a>
   </head>
   <body>
      <h1>Account Login</h1>
      <form action="/sessions" method="POST">
         <label for="username">User Name</label>
         <input id="username" type="text" name="username" required><br>

         <label for="password">Password</label>
         <input id="password" type="password" name="password" required><br>

         <input class="submit" type="submit" name="" value="Login">
      </form>
   </body>
</html>
