<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <% include ../partials/head.ejs %>
      <link rel="stylesheet" href="/css/users/new.css">
   </head>
   <body>
      <h1>Create User</h1>
      <form action="/" method="POST">
         <label for="username">User Name</label>
         <input id="username" type="text" class="validate" name="username" required><br>

         <label for="password">Password</label>
         <input id="password" type="password" class="validate" name="password" required><br>

         <input type="submit" name="" value="Submit">
      </form>
   </body>
</html>
