<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <% include ../partials/head.ejs %>
      <link rel="stylesheet" href="/css/cars/index.css">
   </head>
   <header>
      <a href="/cars/new"><button class="add" type="button" name="button">Add Your Car</button></a>
      <form class="" action="/sessions?_method=DELETE" method="POST">
         <input class="logout" type="submit" value="Logout">
      </form>
   </header>
   <body>
      <h1>All Cars</h1>

      <div class="container">
         <% for (let i = 0; i < cars.length; i++) { %>
            <div class="car-container">
               <a href="/cars/<%=cars[i].id%>">
                  <img class="image" src="<%=cars[i].img%>" alt="<%=`${cars[i].year} ${cars[i].make} ${cars[i].model}` %>">
               </a>
               <p><%=`${cars[i].year} ${cars[i].make} ${cars[i].model}` %></p>
            </div>
         <% } %>
      </div>
   <footer>
      <div class="footer">

      </div>

   </footer>
   </body>
</html>
